<h1> CASA </h1>
<p>Seja bem vindo(a) usuario {{ usuario.nome }}</p>
<p>Tenho certeza que você é um otimo {{usuario.profissao}}, mesmo tendo ainda {{usuario.idade}} anos.</p>

{{#if auth}}

    <a href="/dashboard">Acessar a Dashboard</a>
    
{{else}}

    <p>você ainda nao esta logado, faça login ou cadastre-se!</p>

{{/if}}